/* GENERAL STYLES */
*{
    
    box-sizing: border-box;
    line-height: 1.5rem;
}

html{
    
}
body{
    background-color:  #a5dc0f;
    color:  #000000;
}
/* NAVBAR STYLES */
.nav{
    background-color: #000000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
/* .menu>a{
    margin: 0 20px;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 600;
    width: 150px;
    
}
.menu>a:hover{
    background-color: unset;
    color: #a5dc0f;
    transition: ease-in-out; 
    font-size: 1.1rem;
} */
.menu>a{
    padding: 20px 50px;
    color: #ffffff;
    font-weight: 600; 
}
.menu>a:hover{
    background-color: #a5dc0f;
    color: #000000;  
}
.is-active > .navbar-item, .navbar-link {
    color: #000000;
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #0000009f;
    }

    .navbar-item, .navbar-link{
        color: #fafafa;
        font-weight: 600;
    }
}

@media screen and (min-width: 1024px){
    .navbar-item, .navbar-link {
        color: #ffffff;
    }
}


/* ABOUT SECTION SYTLES */
.card-style{
    margin: 80px 100px;
    padding: 20px;
    border-radius: 7px;
}
.is-3{
    padding: 20px;
}


/* VALUES SECTION SYTLES*/
.icons{
width: 70px;
}
.column-style{
    padding: 10px 30px 30px;
}
/* FOOTER */
.footer{
    background-color: #000000;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    bottom: 0;
    padding: 30px;
}
a{
    color: #a5dc0f;
    text-decoration: none;
}
.social-icon{
    width: 20px;
    margin-right: 20px;
}
